/*Fuentes*/

@font-face{
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/*Reseteo*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/*Generales*/
html {
    font-size: 20px;
}

@media (max-width: 440px){
    html {
        font-size: 18px;
    }
}

body{
    font-family: "Avenir", sans-serif;
    color: #67666e;
    display: grid;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

img {
    max-width: 100%;
}

p{
    margin-bottom: 0.8rem;
}
/*hero*/
.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;    
    }

    12%{opacity: 1;}

    25% {transform: scale(1.2);}

    75% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
    
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1){
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2){
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3){
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;

}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;

}

@media (max-width: 720px) {
    .hero .hero-logo {
        width: 60%;
    }
    .hero .hero-down {
        width: 15%;
    }
}

@media (max-width: 440px){
    .hero .hero-logo{
        width: 80%;
    } 
    .hero .hero-down{
        width: 20%;
    }
}

/*Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 600ms all ease-in-out;

}

header.transparente {
    background-color: transparent;
    box-shadow: none;
}


header img {
    height: 60px;
    width: auto;

}

header nav a {
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    transition: 300ms ease-in-out all;
}

header.transparente nav a {
    color: rgba(255, 255, 255, 0.9);
}

header nav a.activo,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    color: white;
}

#burger{
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra {
    background-color: #a97c50;
}

#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
    width: 0;
}

#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 720px) {
    #burger {
        display: block;
    }

    header {
        justify-content: flex-end;
    }
    header nav {
        display: none;
    }
}


/*menu lateral*/

.menu {
    width: 360px;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.586);
    position: fixed;
    top: 0;
    left:-360px;
    padding-top: 80px;
    margin-top: 0px;
    transition: all 700ms ease-in-out;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
    

}

.menu nav a:hover {
    color:white;
    
}

.menu .copyright {
    color: rgba(255, 255, 255, 0.75);
    font-size:  0.9rem;
    position:absolute;
    bottom: 0;
    left: 0;
    padding:0.5rem;
    text-align: center;
    width: 100%;
    
}

/*LAYOUT */
.primera {
    margin-top: 100vh;
}

#pr
#cookies
{
    display: block;
    margin: -90px;
    padding-bottom: 90px;
}

.fila {
    display: flex;
    text-align: justify;
    padding: 2rem 1rem;
    

}

.fila.contacto {
    margin-top: 80px;

}

.col-100 {
    width: 100%;
    padding:0.5rem 1rem;
}

.col-75 {
    width: 75%;
    padding:0.5rem 1rem;
}


.col-66 {
    width: 66.66666%;
    padding:0.5rem 1rem;

}

.col-50 {
    width: 50%;
    padding:0.5rem 1rem;
    text-align: justify;

}

.col-33 {
    width: 33.333333%;
    padding: 0.5rem 1rem;
}

.col-25 {
    width: 25%;
    padding:0.5rem 1rem;

}

@media (max-width: 720px){
    .fila {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25 {
        width: 100%;
    }

}
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Espaciados y márgenes */

.m-t {
    margin-top: 1rem;

}
.m-b {
    margin-bottom: 1rem;
    
}
.m-l {
    margin-left: 1rem;
    
}

.m-r {
    margin-right: 1rem;
    
}

.m-t-small {
    margin-top: 0.5rem;

}
.m-b-small {
    margin-bottom: 0.5rem;
    
}
.m-l-small {
    margin-left: 0.5rem;
    
}

.m-r-small {
    margin-right: 0.5rem;
    
}

/* Parallax*/
.fila.parallax {
    background-image: url('../img/property5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 2rem;
    font-style: italic;
}

.fila.parallax div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
}

.fila.parallax div p {
    font-size: 1.5rem;
    color: #a97c50;
    text-align: center;

}

/*Caja navegación*/
.caja-nav img {
    width: 20%;
    margin-bottom: 1em;
}

.caja-nav a {
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor:pointer;
    transition: all ease-in-out 400ms;
}

.caja-nav a:hover {
    background-color: #a97c50;
    color:white;
}


/* Formulario contacto*/
form.contacto{
    width: 50%;
}

@media(max-width : 720px){
    form.contacto {
        width: 75%;
    }
}

@media (max-width: 440px){
    form.contacto{
        width: 100%;
    }


}

form.contacto{
    display: flex;
    flex-direction: column;
    margin: auto;
}

form.contacto .fila {
    padding: 0.8rem;
    justify-content: center;
    width: auto;
    
    
}

input {
    border: 2px solid #a97c50;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
}

input:focus {
    outline: none;
    border: 2.5px solid #754311;
}

input.usuario {
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 7px;
    padding-left: 2.2em;
}


input.email {
    background-image: url('../img/mail-bronce.svg');
    background-repeat: no-repeat;
    background-position: 7px;
    padding-left: 2.2em;
}


button{
    border: none;
    background-color: #a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor:pointer;
    transition: all ease-in-out 400ms;
}

button:hover {
    background-color: #905418;
    color:white;
}

#titulo-form{
    text-align: center;
    font-size:40px;
    color: #a97c50;
    
}

#subtitulo-form{
    text-align: center;
    font-size:25px;
}



.categoria{
    font-size: inherit;
    width: 100%;
    background-image: url('../img/categoria.png ');
    background-repeat: no-repeat;
    background-position: 7px;    
    border: 2px solid #a97c50;
    outline: 0rem solid #a97c50; 
    padding: 0.5em 2em;
    font-family: inherit;

}

.categoria:focus {
    outline: none;
    border: 2.5px solid #754311;
}



.consulta{
    font-size: inherit;
    font-family: inherit;    
    background-image: url('../img/textfile.png ');
    background-repeat: no-repeat;
    background-position-x: 0.3rem;
    background-position-y: 0.1rem;
    padding-left: 2.3em;
    width: 100%;
    outline: none;
    border:2px solid #a97c50;
    resize: none;
    
}

.consulta:focus {
    outline: none;
    border: 2.5px solid #754311;
}

#opciones{
    color: black;   
}

 /*Footer */
footer {
    background-color: #424242;
}

footer p {
    color: rgba(255, 255, 255, 0.8);

}

footer p:first-child {
    color: #a97c50;
    font-weight: bold;
}

footer img.rrss {
    height: 48px;
}

footer a{ 
    font-size: 0.8rem;
    color: #a97c50;
    transition: 400MS ease-in-out all;
}

footer a:hover{
    color: #8e5215;
}

footer .copyright {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    text-align: center;
}

/*card*/

.fila.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 1rem;
    justify-content: center;
}
.card{
    width: 360px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img {
    height: 360px;
}

.card .footer-card {
    padding: 0.8rem;
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
}

.card .footer-card p {
    margin-bottom: 0.5rem;
}

.card .footer-card p:first-child {
    font-weight: bold;
}

.card .footer-card a {
    background-color: #a97c50;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    align-self: center;
    transition: 400ms ease-in all;
}

.card .footer-card a:hover {
    background-color: #683808;
}

/*Ficha propiedad */
.propiedad {
    margin-top: 80px;
    background-image: url(../img/property5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.propiedad div:first-child{
    background-color: rgba(255, 255, 255, 0.9);
}

.propiedad div:first-child h1{
    font-size: 1.4rem;
    color: #a97c50;
}
.propiedad div:first-child p img {
    width: 28px;
    height: 28px;
}

/*Ficha nosotros*/

#contenedor{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction:row;
}

@media (max-width: 720px){
    
    #contenedor{
        flex-direction:column;    
    }
    .nosotros-items article{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 440px){

    #contenedor{
        flex-direction:column;
        flex-wrap: wrap   
    
    }
    .nosotros-items article{
        flex-direction: row;
        align-items: flex-start;
    }
}


.nosotros-image{
    width: 30%;       
    overflow: hidden;     
    margin: auto;

}

.nosotros-image img{
    width: 100%;
    margin: auto;
}

.nosotros-items{
    width: 70%;
    margin: auto;
}

.nosotros-grupo{
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem; 
    text-align: justify;
    justify-content: flex-end;

}

.nosotros-items h2{
    color:#a97c50;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

